@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');
:root{
    --dark-orange: #491f00;
    --medium-orange: #ff8500;
    --light-orange: #ff9E01;
    --dark-purple: #240046;
    --medium-purple: #5A199B;
    --light-purple: #9d4EDD;
    --white: #FFF;
}
body{
    font-family: 'Poppins', Verdana;
    background-color: var(--dark-orange);
    color: #FFF;
    font-size: 18px;
}

main{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 100vh;
}
h1{
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: .5em;
}
#city{
    width: 20em;
    margin: 0 auto;
}
input{
    height: 2.5em;
    font-size: 1em;
    padding: .5em;
}

.resultado{
    max-width: 20vw;
    margin: 0 auto;
    margin-top: 20px;
    border: #9d4EDD 1px solid;
    border-radius: .5em;
    padding: 1em;
}